@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebas_regular_macroman/BEBAS___-webfont.eot');
    src: url('../fonts/bebas_regular_macroman/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas_regular_macroman/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/bebas_regular_macroman/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/bebas_regular_macroman/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



.glyphicon-arrow-left {
	margin-right: 10px;
}

.glyphicon-arrow-right {
	margin-left: 10px;
}

.nav-icon {
	margin-right: 10px;
}